.page-header {
  position: relative;
  padding-bottom: 0;
  border: 1px solid #ececec;
}
.contact-list {
  align-items: center;
  padding-bottom: 60px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 0px;
    padding-top: 20px;
  }
  @media screen and(min-width: $desktop) {
    display: flex;
  }
}

.contact {
  @media screen and(min-width: $desktop) {
    margin-left: 150px;
  }
}
.contact a {
  color: $subtitle-text-color;
  font-style: normal;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
@media screen and (max-width: $tablet) {
  .tel {
    margin-top: 16px;
  }
}
.contact a {
  text-decoration-line: none;
  display: inline-flex;
  align-items: flex-end;
}
.mail {
  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $desktop) {
    & {
      margin-right: 30px;
    }
  }
}

.contacts-icon {
  fill: currentColor;
  height: 15px;
  width: 20px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
}
